logs
project/project
project/target
target
tmp
uploads
.history
dist
modules/dao/.idea
modules/dao/dao.iml
modules/dao/module_dao.xml
modules/dao/dao.xml
modules/dao/dao.properties
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/.metadata
.target
.metadata
.DS_Store
*.class
