@(form: play.data.Form[Reserve.ReservationModel], refuseform: play.data.Form[Drives.RefuseModel], reservation: Reservation, car: Car, owner: User, loaner: User)
@import database.DatabaseHelper

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/driveDetails.js")"></script>
    <script src='@routes.Assets.at("javascripts/plugins/datetimeinput.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/plugins/datetimepicker/bootstrap-datetimepicker.js")' type="text/javascript"></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.nl.js"))'></script>
    <script>
            // Determine the dates of the reservation
            var from = new Date("@reservation.getFrom.toString("yyyy-MM-dd HH:mm")");
            var correctedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
                from.getMinutes(), 0);
            var adjustedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
                from.getMinutes(), 0);
            adjustedFrom.setMinutes(adjustedFrom.getMinutes() + 5);

            var until = new Date("@reservation.getTo.toString("yyyy-MM-dd HH:mm")");
            var correctedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
                until.getMinutes(), 0);
            var adjustedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
                until.getMinutes(), 0);
            adjustedUntil.setMinutes(adjustedUntil.getMinutes() - 5);
    </script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.css"))">
}
@app("Rit details", stylesheets, scripts) {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li><a href="@routes.Drives.index">Ritten</a></li>
            <li class="active">Ritdetails</li>
        </ol>
    </div>

    <!-- page wrapper -->
    <div id="page-wrapper">
        <!-- row -->
        <div class="row">
            <!-- col-lg-12 -->
            <div class="col-lg-12">
                <h1 class="page-header">Rit details</h1>
                <div class="panel panel-default">
                    <!-- panel-heading -->
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Geselecteerde rit
                    <!-- /panel-heading -->
                    </div>
                    <!-- panel-body -->
                    <div class="panel-body">
                        <!-- error while adjusting the reservation -->
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger alert-dismissable">
                                <strong>Error!</strong> @form.globalError.message
                            </div>
                        }
                        <!-- error while refusing the reservation -->
                        @if(refuseform.hasGlobalErrors) {
                            <div class="alert alert-danger alert-dismissable">
                                <strong>Error!</strong> @refuseform.globalError.message
                            </div>
                        }
                        <!-- well -->
                        <div class="well">
                            <!-- row -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Autonaam:</strong> @car.getName
                                </div>
                                <div class="col-sm-4">
                                    <strong>Merk:</strong> @car.getBrand
                                </div>
                                <div class="col-sm-4">
                                    <strong>Type:</strong> @car.getType
                                </div>
                            <!-- /row -->
                            </div><br />
                            <!-- loaner specific content -->
                            @if(loaner.getId == DatabaseHelper.getUserProvider.getUser.getId) {
                                @views.html.drives.driveDetailsLoaner(form, reservation)
                            <!-- owner specific content -->
                            } else {
                                @views.html.drives.driveDetailsOwner(refuseform, reservation)
                            }
                        <!-- /well -->
                        </div>
                        <!-- col-lg-6 -->
                        <div class="col-lg-6">
                            <!-- well -->
                            <div class="well">
                                <strong>Eigenaar</strong><hr />
                                <p>
                                    @if(DatabaseHelper.getUserProvider.getUser.getId == owner.getId ||
                                            reservation.getStatus == ReservationStatus.ACCEPTED ||
                                            reservation.getStatus == ReservationStatus.REQUEST_DETAILS) {
                                        <strong>Naam:</strong> <a href="@routes.Profile.index(owner.getId)">@owner.getLastName, @owner.getFirstName</a><br />
                                        <strong>E-mail:</strong> @owner.getEmail <br />
                                        <strong>Tel:</strong> @if(owner.getPhone != null && !owner.getPhone.isEmpty){ @owner.getPhone } else { onbekend } <br />
                                        <strong>GSM:</strong> @if(owner.getCellphone != null && !owner.getCellphone.isEmpty){ @owner.getCellphone } else { onbekend }
                                    } else {
                                        <i class="fa fa-info"></i>: Deze informatie is pas beschikbaar na goedkeuring.
                                    }
                                </p>
                            <!-- /well -->
                            </div>
                        <!-- /col-lg-6 -->
                        </div>
                        <!-- col-lg-6 -->
                        <div class="col-lg-6">
                            <!-- well -->
                            <div class="well">
                                <strong>Ontlener</strong><hr />
                                <p>
                                    <strong>Naam:</strong> <a href="@routes.Profile.index(loaner.getId)">@loaner.getLastName, @loaner.getFirstName</a><br />
                                    <strong>E-mail:</strong> @loaner.getEmail <br />
                                    <strong>Tel:</strong> @if(loaner.getPhone != null && !loaner.getPhone.isEmpty){ @loaner.getPhone } else { onbekend } <br />
                                    <strong>GSM:</strong> @if(loaner.getCellphone != null && !loaner.getCellphone.isEmpty){ @loaner.getCellphone } else {onbekend }
                                </p>
                            <!-- /well -->
                            </div>
                        <!-- /col-lg-6 -->
                        </div>
                    <!-- /panel-body -->
                    </div>
                <!-- /panel -->
                </div>
            <!-- /col-lg-12 -->
            </div>
        <!-- /row -->
        </div>
    <!-- /page wrapper -->
    </div>
}