@(reservation: Reservation, car: Car, owner: User, loaner: User)

@app("Rit details") {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li><a href="@routes.Drives.index">Ritten</a></li>
            <li class="active">Ritdetails</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Rit details</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> geselecteerde rit
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="well">
                            <div class="col-sm-4">
                                <strong>Autonaam:</strong> @car.getName
                            </div>
                            <div class="col-sm-4">
                                <strong>Merk:</strong> @car.getBrand
                            </div>
                            <div class="col-sm-4">
                                <strong>Type:</strong> @car.getType
                            </div><br />
                            <br />
                            <div class="col-sm-4">
                                <strong>Reservatie van:</strong> @reservation.getFrom.toString("dd/MM/yyyy HH:mm")
                            </div>
                            <div class="col-sm-4">
                                <strong>Reservatie tot:</strong> @reservation.getTo.toString("dd/MM/yyyy HH:mm")
                            </div><br />
                        </div>
                        <div class="col-lg-6">
                            <div class="well">
                                <strong>Eigenaar</strong><hr />
                                <p>
                                    <strong>Naam:</strong> <a href="@routes.Profile.index(owner.getId)">@owner.getLastName, @owner.getFirstName</a><br />
                                    <strong>E-mail:</strong> @owner.getEmail <br />
                                    <strong>Tel:</strong> @if(owner.getPhone != null && !owner.getPhone.isEmpty){ @owner.getPhone } else { onbekend } <br />
                                    <strong>GSM:</strong> @if(owner.getCellphone != null && !owner.getCellphone.isEmpty){ @owner.getCellphone } else { onbekend }
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="well">
                                <strong>Ontlener</strong><hr />
                                <p>
                                    <strong>Naam:</strong> <a href="@routes.Profile.index(loaner.getId)">@loaner.getLastName, @loaner.getFirstName</a><br />
                                    <strong>E-mail:</strong> @loaner.getEmail <br />
                                    <strong>Tel:</strong> @if(loaner.getPhone != null && !loaner.getPhone.isEmpty){ @loaner.getPhone } else { onbekend } <br />
                                    <strong>GSM:</strong> @if(loaner.getCellphone != null && !loaner.getCellphone.isEmpty){ @loaner.getCellphone } else {onbekend }
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /page wrapper -->
}