/* Fix for top bar in bootstrap */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Flatstrap */
.btn {
    padding: 10px;
    border-radius: 0;
    border: none;
    font-size: 21px;
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding: 6px 15px;
}