/* --- Tabs --- */
.tabpanel {
	border-top:0px;
}

.nav-tabs>li>a {
	border-radius: 0px;
}

/* --- Map --- */
#map {
	width: 100%;
	height: 300px;
}

.map {
	padding:0px;
}

/* --- Top Menu --- */

.navbar-top-links li .dropdown-toggle {
	color: white;
	background: #96c770; /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .2);
}

.navbar-top-links:hover li:hover .dropdown-toggle:hover {
	background: #63943d; /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .2);
}

.navbar-top-links .open>a:focus {
	background: #63943d; /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .2);
}

.navbar-top-links:hover li:hover .avatar:hover {
	background: transparent;
}
.nav .open>.avatar:focus {
	background: transparent;
}

.navbar-static-top {
	background-color: #7dba4d;
	border: none;
}

.navbar-top-links > li > a {
	display: inline;
	padding: 9px 15px 9px 15px;
}

.navbar-top-links > li > .avatar {
	padding-right: 0px;
	margin-right: 0px;
	background-color: transparent;
}

.navbar-top-links > li {
	height: 36px;
}

.navbar-top-links > li:last-child {
	margin-right: 0px;
	height: 50px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default:hover .navbar-brand:hover{
	color: white;
}

.avatar {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.avatar > span {
	padding-right: 15px;
}

.topnumber {
	padding:0px 2px;
	position: absolute;
	font-size: 9px;
	top: 5px;
	right: 12px;
	color: white;
	background-color: red;
}

/* --- Side Menu --- */
.navbar-static-side {
	border-right: 1px solid #d6d6d6;
	background-color: #f8f8f8;
}

.sidenumber {
	position:absolute;
	right:10px;
	color:grey;
}

.sidebar-collapse>.nav>li>a:hover, .sidebar-collapse>.nav>li>a:focus, .sidebar-collapse>.nav>.active {
	background-color: #d6d6d6;
}

.navbar-static-side ul .submenu {
	padding: 5px 0px 6px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #34383c;
	background-color: #f0f0f0;
	border-bottom: 1px solid #d6d6d6;
}

.nav > li > a {
	color: #444;
}

/* --- Timeline --- */
.timeline > li > .timeline-panel {
	width: 90%;
}
.timeline > li > .timeline-badge {
	left: 4%;
}
.timeline:before {
	left: 4%;
}

.noverticalpadding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.noverticalmargin {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* --- Tables --- */
.pagination>li:first-child>a, .pagination>li:last-child>a{
	border-radius: 0px;
}

.pagination>li>a, .pagination>li>span {
	padding: 4px 8px;
}

/* --- Forms fix --- */

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

/* --- General styling --- */

.inline-block{
	display:inline-block;
}

html{
	height: 100%;
}

body {
	height: 100%;
	background-color: #f6f6f6;
}

#wrapper {
	height: 100%;
}

.well {
	border-radius: 0px;
}

.alert {
	border-radius: 0px;
}

.panel {
	border-radius:0px;
}

.panel-default {
	border-color: #d6d6d6;
}

.panel-heading {
	border-color: #d6d6d6;
}

.page-header {
	margin-top: 0px;
	border-color: #d6d6d6;
}

#page-header-wrapper {
	margin: 0px;
	margin-left: 250px;
	background-color: #f6f6f6;
}

#page-wrapper {
	min-height: 0px;
	border-left: 0px;
	background-color: #f6f6f6;
	border-color: #d6d6d6;
}

.panel-default > .panel-heading {
	background-color: #f0f0f0;
}

.jumbotron{
	margin-top:20%;
}

/* --- Breadcrumbs --- */

.breadcrumb > li + li:before {
    content: "> ";
}

.breadcrumb {
	background-color: #f0f0f0;
	height: 29px;
	border-bottom: 1px solid #d6d6d6;
	border-radius: 0px;
	padding: 5px 15px;
}

/* --- Flatstrap --- */
.btn {
    border-radius: 0;
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu {
	border-radius: 0px;
}

/* --- Responsive fixes --- */

@media (max-width: 768px) {
	.breadcrumb {
		margin-left:0px;
	}

	#page-header-wrapper {
		margin-left: 0px;
	}

    .navbar-top-links {
    	display:none;
    }
}

@media (min-width: 768px){
	.navbar-static-side {
		height: calc(100% - 50px);
	}
}