/* --- Avatar --- */
.avatar {
	padding-top: 15px;
}

.avatar > img {
	/*rounded*/
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	/*center*/
    display: block;
    margin-right: auto;
    margin-left: auto;

	/*resize*/
	width: 150px;
	height: 150px;

	/*scale instead of crop*/
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

/* --- Flatstrap --- */
.btn {
    border-radius: 0;
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
}