@(messageList: java.util.List[Message], page : Int, amountOfResults : Int, amountOfPages : Int)
@import org.joda.time.format.DateTimeFormat
<ul class="chat">
@for((message, index) <- messageList.zipWithIndex) {
    <li class="left clearfix">
        <span class="chat-img pull-left">
            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font">@message.getSubject</strong>
                <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> @DateTimeFormat.forPattern("HH:mm dd/MM").print(message.getTimestamp)
                </small>
            </div>
            <p>
            @Html(message.getBody)
            </p>
        </div>
    </li>
}
</ul>

<p id="pagination" name="@amountOfResults,@amountOfPages"></p>