@(messageList: java.util.List[Message])
@import org.joda.time.format.DateTimeFormat
@stylesheets = {
    <link href="@routes.Assets.at("stylesheets/plugins/timeline/timeline.css")" rel="stylesheet">
}
@app("Berichten", stylesheets) {

<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Berichten</li>
    </ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Berichten</h1>
            @flashes()
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-default btn-sm" href="@routes.Messages.addMessage()">Nieuw bericht</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments"></i> Berichten
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body noverticalpadding">
                    <ul class="timeline noverticalmargin">
                    @for((message, index) <- messageList.zipWithIndex) {
                        <li class="timeline-inverted">
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="timeline-title">@message.getSubject</h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-time"></i> @DateTimeFormat.forPattern("yyyy-MM-dd HH:mm:ss").print(message.getTimestamp)</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    @Html(message.getBody)
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}
