@(notifications: List[Notification], page : Int, amountOfResults : Int, amountOfPages : Int)
@import org.joda.time.format.DateTimeFormat
<ul class="chat">
@for((notification, index) <- notifications.zipWithIndex) {
        <li>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">@notification.getSubject</strong>
                    <small class="text-muted">
                        - @DateTimeFormat.forPattern("HH:mm dd-MM-yyyy").print(notification.getTimestamp)
                    </small>
                    <button type="button" class="close" aria-hidden="true"><small><i class="fa fa-eye fa-fw"></i></small></button>
                </div>
                <div class="msg-body">
                    <p>
                    @Html(notification.getBody)
                    </p>
                </div>
            </div>
        </li>
}
</ul>

<p id="pagination" name="@amountOfResults,@amountOfPages"></p>


