@(form: Form[Cars.CarModel],  editId: Int = 0)
@app(if (editId == 0) "Nieuwe auto" else "Bewerk auto") {

<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="@routes.Dashboard.index">Dashboard</a></li>
        <li><a href="@routes.Cars.showCars()">Auto's</a></li>
        <li class="active">Nieuwe auto</li>
    </ol>
</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Auto toevoegen</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> @(if (editId == 0) "Nieuwe auto" else "Bewerk auto")
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                            <!-- TODO: else: routes.edit -->
                        @helper.form(if (editId == 0) routes.Cars.addNewCar() else routes.Cars.editCarPost(editId), 'class -> "form-horizontal") {
                            @if(form.hasGlobalErrors) {
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error!</strong> @form.globalError.message
                                </div>
                            }
                            <fieldset>

                                <!-- Userpicker, only for admin ? -->
                                <!-- Radio button for owner addressDomicile or other
                                if other then show Address text-fields
                                (like newInfosession) -->
                                <!-- Checkbox for CAR_GPS -->
                                <!-- Checkbox for Hook -->
                                <!-- Dropdown menu for car fuel (see Enum in models.CarFuel) -->
                                <!-- Textarea for comments -->

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="name"></label>
                                    <div class="col-md-12">
                                        <input id="name" name="name" type="text" placeholder="Naam" class="form-control input-md" value="@form("name").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="brand"></label>
                                    <div class="col-md-12">
                                        <input id="brand" name="brand" type="text" placeholder="Automerk" class="form-control input-md" value="@form("brand").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="type"></label>
                                    <div class="col-md-12">
                                        <input id="type" name="type" type="text" placeholder="Type" class="form-control input-md" value="@form("type").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="seats"></label>
                                    <div class="col-md-12">
                                        <input id="seats" name="seats" type="number" placeholder="Aantal zitplaatsen" class="form-control input-md" value="@form("seats").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="doors"></label>
                                    <div class="col-md-12">
                                        <input id="doors" name="doors" type="number" placeholder="Aantal deuren" class="form-control input-md" value="@form("doors").value">
                                    </div>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="col-md-1 control-label" for="gps"></label>
                                    <div class="col-md-12">
                                        <input id="gps" name="gps" type="checkbox" @if(form("gps").value == "true") { checked } >
                                        GPS aanwezig
                                    </div>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="col-md-1 control-label" for="hook"></label>
                                    <div class="col-md-12">
                                        <input id="hook" name="hook" type="checkbox" @if(form("hook").value == "true") { checked } >
                                        Trekhaak aanwezig
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="year"></label>
                                    <div class="col-md-12">
                                        <input id="year" name="year" type="number" placeholder="Bouwjaar" class="form-control input-md" value="@form("year").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="fuelEconomy"></label>
                                    <div class="col-md-12">
                                        <input id="fuelEconomy" name="fuelEconomy" type="number" placeholder="Gemiddeld verbruik (per 100km)" class="form-control input-md" value="@form("fuelEconomy").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="estimatedValue"></label>
                                    <div class="col-md-12">
                                        <input id="estimatedValue" name="estimatedValue" type="number" placeholder="Geschatte huidige waarde" class="form-control input-md" value="@form("estimatedValue").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="ownerAnnualKm"></label>
                                    <div class="col-md-12">
                                        <input id="ownerAnnualKm" name="ownerAnnualKm" type="number" placeholder="Gemiddeld aantal kilometers (per jaar)" class="form-control input-md" value="@form("ownerAnnualKm").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="address_street"></label>
                                    <div class="col-md-12">
                                        <input id="address_street" name="address_street" type="text" placeholder="Straat" class="form-control input-md" value="@form("address_street").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="address_number"></label>
                                    <div class="col-md-12">
                                        <input id="address_number" maxlength="9" name="address_number" type="text" placeholder="Nummer" class="form-control input-md" value="@form("address_number").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="address_bus"></label>
                                    <div class="col-md-12">
                                        <input id="address_bus" maxlength="3" name="address_bus" type="text" placeholder="Bus" class="form-control input-md" value="@form("address_bus").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="address_zip"></label>
                                    <div class="col-md-12">
                                        <input id="address_zip" maxlength="11" name="address_zip" type="text" placeholder="Postcode" class="form-control input-md" value="@form("address_zip").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="address_city"></label>
                                    <div class="col-md-12">
                                        <input id="address_city" name="address_city" type="text" placeholder="Plaats" class="form-control input-md" value="@form("address_city").value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="comments"></label>
                                    <div class="col-md-12">
                                        <textarea id="comments" name="comments" placeholder="Commentaar" class="form-control input-md" rows="6">@form("comments").value</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label" for="add"></label>
                                    <div class="col-md-12">
                                        <button type="submit" id="add" name="add" class="btn btn-block btn-success">@{ if(editId == 0) "Auto aanmaken" else "Wijzigingen opslaan" }</button>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}