@(car: Car)
    @import database.DatabaseHelper;
    @defining(DatabaseHelper.getUserProvider().getUser()) { user =>
        @if(car.getOwner.getId == user.getId()) {
            <div class="alert alert-info alert-dismissable">
                U bent eigenaar.
            </div>
        }
        <div class="row">

    <div class="col-lg-4">
        <div class="well">
            <p>
                    <!-- TODO: mooie opmaak -->
                <strong>Naam: </strong> @car.getName <br>
                <strong>Eigenaar:</strong> <a href="@routes.Profile.index(car.getOwner.getId)">@car.getOwner.getFirstName @car.getOwner.getLastName</a> <br>
                <strong>Adres: </strong> @car.getLocation <br>
                <strong>Merk: </strong> @car.getBrand <br>
                <strong>Type: </strong> @car.getType <br>
                <strong>GPS aanwezig: </strong> @if(car.isGps) { ja } else { nee } <br>
                <strong>Trekhaak aanwezig: </strong> @if(car.isGps) { ja } else { nee } <br>
                <strong>Aantal zitplaatsen: </strong> @car.getSeats <br>
                <strong>Aantal deuren: </strong> @car.getDoors <br>
                <strong>Bouwjaar: </strong> @car.getYear <br>
                <strong>Gemiddeld verbruik (per 100 km): </strong> @car.getFuelEconomy <br>
                <strong>Geschatte huidige waarde: </strong> @car.getEstimatedValue <br>
                <strong>Gemiddeld aantal kilometers (per jaar): </strong> @car.getOwnerAnnualKm <br>
                <strong>Commentaar: </strong> <br> @car.getComments
                    <!-- TODO: fuel, Comments, (Laatste aanpassing?) -->
                @* TODO: add map using OpenLayers & OpenStreetMap (webjars) *@
            </p>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="well">
            Map placeholder
        </div>
    </div>
    </div>
    @if(car.getOwner.getId == user.getId()) {
            <h2>Autogebonden kosten</h2>
        <p>
            Vul hier als eigenaar uw autogebonden kosten aan, zoals garagekosten, verzekering, keuring en carwash.

        </p>
        <button class="btn btn-primary" onclick="loadModal(@car.getId)">Nieuwe kost</button>
        <p></p>
        <table class="table table-striped">
            <tr>
                <th> Beschrijving </th>
                <th> Tijd </th>
                <th> Bedrag </th>
                <th> Bewijs </th>
            </tr>
            <tr>
                <td> Carwash </td>
                <td> 27/02/2014 </td>
                <td> €7 </td>
                <td> <a href=""> Link </a> </td>
            </tr>
        </table>

    }
}