@(car: Car)
    @import controllers.Cars;
    @import org.joda.time.format.DateTimeFormat
    @import database.DatabaseHelper;

<div class="row">

    <div class="col-lg-4">
        <div class="well">
            <p>
                    <!-- TODO: mooie opmaak -->
                <strong>Naam: </strong> @car.getName <br>
                <strong>Eigenaar:</strong> <a href="@routes.Profile.index(car.getOwner.getId)">@car.getOwner.getFirstName @car.getOwner.getLastName</a> <br>
                <strong>Adres: </strong> @car.getLocation <br>
                <strong>Merk: </strong> @car.getBrand <br>
                <strong>Type: </strong> @car.getType <br>
                <strong>Brandstof: </strong>  @{Cars.getReverseFuelMap().get(car.getFuel) } <br>
                <strong>GPS aanwezig: </strong> @if(car.isGps) { ja } else { nee } <br>
                <strong>Trekhaak aanwezig: </strong> @if(car.isGps) { ja } else { nee } <br>
                <strong>Aantal zitplaatsen: </strong> @car.getSeats <br>
                <strong>Aantal deuren: </strong> @car.getDoors <br>
                <strong>Bouwjaar: </strong> @if(car.getYear == null) { Onbekend } else { @car.getYear }<br> <!-- Does not work yet..-->
                <strong>Gemiddeld verbruik (per 100 km): </strong> @car.getFuelEconomy <br>
                <strong>Geschatte huidige waarde: </strong> @car.getEstimatedValue <br>
                <strong>Gemiddeld aantal kilometers (per jaar): </strong> @car.getOwnerAnnualKm <br>
                <strong>Commentaar: </strong> <br> @car.getComments
                    <!-- TODO: fuel, (Laatste aanpassing?) -->
                @* TODO: add map using OpenLayers & OpenStreetMap (webjars) *@
            </p>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="well">
            Map placeholder
        </div>
    </div>
</div>