@(user: User, reservations: List[Reservation], form: play.data.Form[Reserve.IndexModel], completeness: Int = 0,
        userWentToInfoSession: Boolean = false, approvalRequestSent: Boolean = false)
@import providers.DataProvider;
    @scripts = {
        <script src="@routes.Assets.at("javascripts/app/dashboard.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/calendar.js")" type="text/javascript"></script>
        <script>
        var events = [];
        @for(reservation <- reservations) {
            events.push(new CalendarEvent("@reservation.getCar.getName",
            new Date("@reservation.getFrom.toString("yyyy-MM-dd HH:mm")"
            ),
            new Date("@reservation.getTo.toString("yyyy-MM-dd HH:mm")"
            ),
            "@routes.Drives.details(reservation.getId).toString()"
            , "details"
            ));
        }
        </script>
    }
    @stylesheets = {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/calendar.css")">
    }

@app("Dashboard", stylesheets, scripts) {
<div id="page-header-wrapper">
	<ol class="breadcrumb">
		<li class="active">Dashboard</li>
	</ol>
</div>

<div id="page-wrapper">
            @if(!DataProvider.getUserRoleProvider.isFullUser(user)){
                @views.html.dashboardFullUser(user, completeness, form)


            } else {

                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Welkom op onze webapplicatie. Om een volwaardig lid te worden moet je eerst nog enkele stappen doorlopen. Als volwaardig lid kan je auto's uitlenen of jezelf kandidaat stellen als auto-eigenaar. De stappen die je nog moet doorlopen om je aanvraag in te kunnen dienen staan hieronder opgelijst.

                    </div>
                    <!-- /.panel-body -->
                </div>

                <!-- REGISTERED USER -->
                @if(approvalRequestSent){
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <i class="fa fa-check-square-o"></i> Je aanvraag werd ingediend
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Je zal een mailtje ontvangen wanneer je aanvraag wordt goed- of afgekeurd.
                        </div>
                        <!-- /.panel-body -->
                    </div>
                } else {
                    @if(userWentToInfoSession){
                    <div class="panel panel-success">
                    } else {
                    <div class="panel panel-danger">
                    }
                        <div class="panel-heading">
                            ① Volg een infosessie
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Door een infosessie te volgen word je op de hoogte gebracht over het reilen en zeilen van ons systeem. Je inschrijven voor een infosessie kan <a href="@routes.InfoSessions.showUpcomingSessions">hier</a>.
                        </div>
                    <!-- /.panel-body -->
                    </div>


                
                    @if(completeness == 100){
                    <div class="panel panel-success">
                    } else {
                    <div class="panel panel-danger">
                    }
                        <div class="panel-heading">
                            ② Vul je profiel verder aan
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="progress">
                                @if(completeness == 100){
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                                } else {
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                                }
                            </div>

                            De volgende dingen kan je best aanvullen voordat je je volwaardig lidmaatschap aanvraagt:
                            <ul>
                                <li>Domicilieadres</li>
                                <li>Verblijfsadres</li>
                                <li>Identiteitskaart</li>
                                <li>Rijbewijs</li>
                            </ul>

                            Je kan je profiel <a href="@routes.Profile.indexWithoutId">hier</a> wijzigen.
                        </div>
                    <!-- /.panel-body -->
                    </div>

                    @if(approvalRequestSent){
                    <div class="panel panel-success">
                    } else {
                    <div class="panel panel-danger">
                    }
                        <div class="panel-heading">
                            ③ Vraag je volwaardig lidmaatschap aan!
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Als je alles hebt aangevuld kan je je volwaardig lidmaatschap <a href="@routes.InfoSessions.requestApproval">hier</a> aanvragen.
                        </div>
                        <!-- /.panel-body -->
                    </div>
                }
                <!-- FULL USER: WARNINGS -->
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Alle belangrijke informatie is aangevuld, dus je hoeft je geen zorgen te maken!
                    </div>
                    <!-- /.panel-body -->
                </div>

                @defining(Drives.reservationsWithStatus(ReservationStatus.REQUEST, true, false) +
                        Drives.reservationsWithStatus(ReservationStatus.REQUEST_DETAILS, true, true) +
                        Drives.reservationsWithStatus(ReservationStatus.DETAILS_PROVIDED, true, false)) { requests =>
                    @if(requests > 0) {
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-info-circle"></i> Ritdetails
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                Je moet nog ritdetails van <strong>@requests</strong> rit(en) toevoegen, dat kan je <a href="@routes.Drives.index">hier</a> doen.
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    }
                }
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Tankbeurten
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Je moet nog bewijsjes uploaden van <strong>4</strong> tankbeurt(en), dat kan je <a href="">hier</a> doen.
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Schadedossiers
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Er is nieuwe informatie toegevoegd aan een schadedossier. Bekijk de wijzigingen <a href="">hier</a>.
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Aangevraagde ritten
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Er staan nog <strong>4</strong> aangevraagde ritten op bevestiging te wachten, je kan ze <a href="">hier</a> bekijken.
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Aangevraagde tankbeurten
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Er staan nog <strong>4</strong> aangevraagde tankbeurten op bevestiging te wachten, je kan ze <a href="">hier</a> bekijken.
                    </div>
                    <!-- /.panel-body -->
                </div>

                <!-- FULL USER: INFORMATIVE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Eerstvolgende reservatie
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Je eerstvolgende reservatie is op 13 juli 2014 van 00:00 tot 00:00. Bekijk <a href="">hier</a> meer informatie.
                    </div>
                    <!-- /.panel-body -->
                </div>


            }
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}
