@app("Dashboard") {

<div id="page-header-wrapper">
	<h1 class="page-header">Dashboard</h1>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
	</ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
		    @if(!flash.isEmpty()) {
		        @for((msgKey, msgValue) <- flash) {
		            <div class="alert alert-@msgKey">
		            @msgValue
		            </div>
		        }
		    }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Temporary Toolbox
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <a href="@routes.Settings.instantAdmin" class="btn btn-default">Insta-admin</a>
                    <a href="@routes.Login.login" class="btn btn-default">Login</a>
                    <a href="@routes.Login.logout" class="btn btn-default">Logout</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}
