@(title: String, stylesheets: Html = Html(""), scripts: Html = Html(""))(user: User = null)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @stylesheets @* To include stylesheets from external templates *@

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script> @* TODO: include these scripts at bottom of page, loads faster *@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        @scripts @* To include scripts from external templates *@
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index">Zelensis</a> @*TODO: load from config*@
                </div>

                @*TODO: hide this screen when user is logged in & show username instead *@
                    <!--<div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Gebruikersnaam" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Wachtwoord" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </div> -->
                <div class="navbar-collapse navbar-right collapse ">
                    @if(user != null){
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @user.getEmail()
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Profiel</a></li>
                                        <li><a href="#">...</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@routes.Login.logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!---->
                    } else {
                        <a class="btn btn-primary" role="button" href="@routes.Login.login">Login</a>
                        <a class="btn btn-primary" role="button" href="@routes.Login.register">Registreer</a>
                    }
                </div>
            </div>
        </div>


        <div class="container">
            @content
            <footer>
                <p>&copy; Zelensis - UGent 2014</p>
            </footer>
        </div>

    </body>
</html>
