@app("Profiel") {

<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Profiel</li>
    </ol>
</div>

<div id="page-wrapper">
    <h1 class="page-header">Profiel</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <img src="@routes.Assets.at("images/avatar.jpg")" alt="" class="img-responsive">
                        </div>
                        <div class="form-group">
                            <p class="form-control-static h2">John Dough</p>
                        </div>
                        <div class="form-group">
                            <p class="form-control-static">email@@example.com<br>+32 477 00 00 00</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default btn-sm">wijzigen</button>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-9">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Ontlener
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="h4">Domicilie-adres</label>
                            <p class="form-control-static">Straat 10,<br>0000 Postcode,<br>België</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Verblijfsadres</label>
                            <p class="form-control-static">Straat 10,<br>0000 Postcode,<br>België</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Rijksregisternummer</label>
                            <p class="form-control-static">xx.xx.xx-xxx.xx</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Contactverantwoordelijke</label>
                            <p class="form-control-static">Voornaam Achternaam</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default btn-sm">wijzigen</button>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Eigenaar
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="h4">Domicilie-adres</label>
                            <p class="form-control-static">Straat 10,<br>0000 Postcode,<br>België</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Verblijfsadres</label>
                            <p class="form-control-static">Straat 10,<br>0000 Postcode,<br>België</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Rijksregisternummer</label>
                            <p class="form-control-static">xx.xx.xx-xxx.xx</p>
                        </div>
                        <div class="form-group">
                            <label class="h4">Contactverantwoordelijke</label>
                            <p class="form-control-static">Voornaam Achternaam</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default btn-sm">wijzigen</button>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
}
