<div>
    <input type="text" placeholder="Gebruiker" class="user" />
    <ul class="suggestions">
    </ul>
</div>

<style>
    ul.suggestions {position: absolute; list-style-type: none; display: none;}
</style>

<script>
    $(".user").keyup(function() {
        var userpicker = $(this).parent();
        $.get("userpicker?search=" + userpicker.find(".user").val(), function(data) {
            userpicker.find(".suggestions").html(data);
        });
    });

    $(".user").focusin(function() {
        $(this).parent().find(".suggestions").show();
    });

    $(".user").focusout(function() {
        $(this).parent().find(".suggestions").hide();
    });

    $(".suggestions").on("click", "li", function() {
        $(this).parent().parent().find(".user").val($(this).text());
    });
</script>