@(user: User, editable: Boolean = true)
@import providers.DataProvider;
<!-- TODO: These are no form groups! -->
<div class="form-group">
    <img src="@routes.Profile.getProfilePicture(user.getId)" alt="" class="img-responsive">
    <a href="@routes.Profile.profilePictureUpload(user.getId)">Wijzig profielfoto</a> <!-- TODO: only show to admin or user itself -->
</div>
<div class="form-group">
    <p class="form-control-static h2">@user.getFirstName @user.getLastName @if(DataProvider.getUserRoleProvider.isAdmin(user)) { <span class="badge badge-important"><i class="fa fa-star" style="color: yellow;"></i> Admin</span> }
    </p><br>
    <p><strong>Status: </strong> <span class="label label-default">@user.getStatus</span></p>
</div>
<div class="form-group">
    <p class="form-control-static"><strong>Email:</strong> @user.getEmail <br>
        <span><strong>Telefoon (vast):</strong> @if(user.getPhone != null && !user.getPhone.isEmpty) {
            <a href="tel:@user.getPhone">@user.getPhone</a>
        } else { / }</span>
        <br/>
        <span><strong>GSM:</strong> @if(user.getCellphone != null && !user.getCellphone.isEmpty) {
            <a href="tel:@user.getCellphone">@user.getCellphone</a>
        } else { / }</span>
    </p>
</div>
    @if(editable) {
        <a class="btn btn-default btn-sm smallprofile-static" href="@routes.Profile.edit(user.getId)" >Wijzigen</a>
    }