
@scripts = {
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
    <script>
        var route = myJsRoutes.controllers.Cars.showCarsPage;
    </script>
    <script src="@routes.Assets.at("javascripts/pagination.js")"></script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")">
}
@app("Reserveren", stylesheets, scripts) {

<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Reserveren</li>
    </ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reserveren</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Auto's zoeken
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                        <!-- TODO: layout, more fields to search on -->
                    <input class="searchTextField" name="name" value="Naam" type="text"><br>
                    <input class="searchTextField" name="brand" value="Merk" type="text"><br>
                    <button id="searchButton">Zoek!</button>
                </div>
                    <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Beschikbare auto's
                </div>
                <div class="panel-body">
                    <!-- <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="inputName">Naam</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Naam">
                        </div>

                        <div class="form-group">
                            <label for="inputCapacity">Capaciteit</label>
                            <input type="number" min="1" step="1" class="form-control" id="inputCapacity" placeholder="Capaciteit">
                        </div>

                        <div class="form-group">
                            <label for="locationInput">Standplaats</label>
                            <input type="text" class="form-control" id="locationInput" placeholder="Standplaats">
                        </div>

                        <div class="form-group">
                            <label for="brandInput">Merk</label>
                            <input type="text" class="form-control" id="brandInput" placeholder="Merk">
                        </div>

                        <div class="form-group">
                            <label for="fromInput">Van</label>
                            <input type="date" class="form-control" id="fromInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="untillInput">Tot</label>
                            <input type="date" class="form-control" id="untillInput" placeholder="">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Filter</button>
                        </div>
                    </form> -->

                     <!-- TODO cars have names on their site -->
                    <div id="resultsTable" class="table-responsive">
                            <!-- Here comes the loaded table-->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}