@(form: play.data.Form[Reserve.ReservationModel], car: Car, reservations: List[Reservation])
@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/app/reservationDetails.js")'></script>
    <script src='@routes.Assets.at("javascripts/plugins/datetimeinput.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/plugins/datetimepicker/bootstrap-datetimepicker.js")' type="text/javascript"></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.nl.js"))'></script>
    <script>
    $(document).ready(function() {
        // Disable all reservation dates
        var startDatesDisabled = new Array();
        var endDatesDisabled = new Array();
        var adjustedStartDatesDisabled = new Array();
        var adjustedEndDatesDisabled = new Array();
        @for(reservation <- reservations) {
            var from = new Date("@reservation.getFrom.toString("yyyy-MM-dd HH:mm")");
            var correctedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
            from.getMinutes(), 0);
            var adjustedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
            from.getMinutes() - 5, 0);

            var until = new Date("@reservation.getTo.toString("yyyy-MM-dd HH:mm")");
            var correctedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
            until.getMinutes(), 0);
            var adjustedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
            until.getMinutes() + 5, 0);

            startDatesDisabled.push(correctedFrom);
            endDatesDisabled.push(correctedUntil);
            adjustedStartDatesDisabled.push(adjustedFrom);
            adjustedEndDatesDisabled.push(adjustedUntil);
        };
        // Force last possible selectable 5 minutes before a reservation
        $('#datetimepickerfrom').datetimepicker('setStartDatesDisabled', adjustedStartDatesDisabled);
        // First possible selectable date is just after a reservation
        $('#datetimepickerfrom').datetimepicker('setEndDatesDisabled', endDatesDisabled);
        // last possible selectable just before a reservation
        $('#datetimepickeruntil').datetimepicker('setStartDatesDisabled', startDatesDisabled);
        // Force first possible selectable 5 minutes after a reservation
        $('#datetimepickeruntil').datetimepicker('setEndDatesDisabled', adjustedEndDatesDisabled);
    });
    </script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.css"))">
}
@app("Reservatiedetails", stylesheets, scripts) {
<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reserveren</a></li>
        <li class="active">Reservatiedetails</li>
    </ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reservatiedetails</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Geselecteerde auto
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="well">
                                <p>
                                    <strong>Eigenaar:</strong> @car.getOwner<br>
                                    <strong>Naam:</strong> @car.getName<br>
                                    <strong>Merk:</strong> @car.getBrand<br>
                                    <strong>Type:</strong> @car.getType<br>
                                    <strong>Standplaats:</strong> @car.getLocation
                                </p>
                                <p>
                                    @* TODO: add map using OpenLayers & OpenStreetMap (webjars) *@
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                        <div class="well">
                                Map placeholder
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Reservatiedetails
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @helper.form(routes.Reserve.confirmReservation(car.getId), 'class -> "form-horizontal") {
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger alert-dismissable">
                                <strong>Error!</strong> @form.globalError.message
                            </div>
                        }
                        <fieldset>
                                <div class="form-group">
                                    <label for="from">Van</label>
                                    <div id="datetimepickerfrom" class="input-group date form_datetime col-md-5" data-link-field="input_from">
                                        <input id="input_from" name="from" class="form-control" size="16" type="text" value="@form("from").value">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="datetimepickeruntil">Tot</label>
                                    <div id="datetimepickeruntil" class="input-group date form_datetime col-md-5" data-link-field="input_until">
                                        <input id="input_until" name="until" class="form-control" size="16" type="text" value="@form("until").value">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button  id="reserve_button" name="reserve" type="submit" class="btn btn-success">Reserveren</button>
                                </div>
                        </fieldset>
                    }
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}