@(form: play.data.Form[Reserve.ReservationModel], car: Car, reservations: List[Reservation])
@scripts = {
    <script src='@routes.Assets.at("javascripts/plugins/datetimepicker/bootstrap-datetimepicker.js")' type="text/javascript"></script>
    <!-- script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.js"))'></script -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.nl.js"))'></script>
    <script>
        /**
        * Method to enable the reserve button on the page.
        * The button is only enabled when both the from and until date are specified
        */
        function enableReserve() {
            if($('#input_from').val() != "" && $('#input_until' ).val() != "") {
                $('#reserve_button').removeClass('disabled');
            } else {
                $('#reserve_button').addClass('disabled');
            }
        };

        /**
        * Method called when the DOM is fully loaded
        */
        $(document).ready(function() {
            // Specify dates today and later
            var now = new Date();
            var later = new Date();
            later.setMinutes(later.getMinutes() + 5);
            // Disable or enable reserve button
            enableReserve();
            // First datetimepicker
            $('#datetimepickerfrom').datetimepicker({
                weekStart: 1,
                language: 'nl',
                todayBtn:  0,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                startDate: now // current date and time
            });
            // Second datetimepicker
            $('#datetimepickeruntil').datetimepicker({
                weekStart: 1,
                language: 'nl',
                todayBtn:  0,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                startDate: later // 5 minutes later than now
            });
            // Disable all reservation dates
            var startDatesDisabled = new Array();
            var endDatesDisabled = new Array();
            var adjustedStartDatesDisabled = new Array();
            var adjustedEndDatesDisabled = new Array();
            @for(reservation <- reservations) {
                var from = new Date("@reservation.getFrom.toString("yyyy-MM-dd HH:mm:ss")");
                var correctedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
                from.getMinutes(), 0);
                var adjustedFrom = new Date(from.getFullYear(), from.getMonth(), from.getDate(), from.getHours(),
                from.getMinutes(), 0);
                adjustedFrom.setMinutes(adjustedFrom.getMinutes() - 5);

                var until = new Date("@reservation.getTo.toString("yyyy-MM-dd HH:mm:ss")");
                var correctedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
                until.getMinutes(), 0);
                var adjustedUntil = new Date(until.getFullYear(), until.getMonth(), until.getDate(), until.getHours(),
                until.getMinutes(), 0);
                adjustedUntil.setMinutes(adjustedUntil.getMinutes() + 5);

                startDatesDisabled.push(correctedFrom);
                endDatesDisabled.push(correctedUntil);
                adjustedStartDatesDisabled.push(adjustedFrom);
                adjustedEndDatesDisabled.push(adjustedUntil);
            };
            // Force last possible selectable 5 minutes before a reservation
            $('#datetimepickerfrom').datetimepicker('setStartDatesDisabled', adjustedStartDatesDisabled);
            // First possible selectable date is just after a reservation
            $('#datetimepickerfrom').datetimepicker('setEndDatesDisabled', endDatesDisabled);
            // last possible selectable just before a reservation
            $('#datetimepickeruntil').datetimepicker('setStartDatesDisabled', startDatesDisabled);
            // Force first possible selectable 5 minutes after a reservation
            $('#datetimepickeruntil').datetimepicker('setEndDatesDisabled', adjustedEndDatesDisabled);

            // Code to link both datetimepickers with each other

            // When datetimepicker from is changed, make sure the user can't select a date before from
            // in datetimepicker until
            $('#datetimepickerfrom').datetimepicker().on('changeDate', function(evt) {
                if(evt.date != null) {
                    var date = new Date(evt.date);
                    var correctedDate = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(),
                    date.getMinutes(), 0);
                    $('#datetimepickeruntil').datetimepicker('setEndDateToNextDisabled', correctedDate);
                    correctedDate.setHours(correctedDate.getHours() - 1);
                    correctedDate.setMinutes(correctedDate.getMinutes() + 5);
                    $('#datetimepickeruntil').datetimepicker('setStartDate', correctedDate);
                } else {
                    var correctedDate = new Date();
                    correctedDate.setMinutes(correctedDate.getMinutes() + 5);
                    $('#datetimepickeruntil').datetimepicker('setStartDate', correctedDate);
                    $('#datetimepickeruntil').datetimepicker('setEndDate', Infinity);
                }
            });
            // When datetimepicker until is changed, make sure the user can't select a date after until
            // in datetimepicker until
            $('#datetimepickeruntil').datetimepicker().on('changeDate', function(evt) {
                if(evt.date != null) {
                    var date = new Date(evt.date);
                    var correctedDate = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(),
                    date.getMinutes(), 0);
                    $('#datetimepickerfrom').datetimepicker('setStartDateToPreviousDisabled', correctedDate, new Date());
                    correctedDate.setHours(correctedDate.getHours() - 1);
                    correctedDate.setMinutes(correctedDate.getMinutes() - 5);
                    $('#datetimepickerfrom').datetimepicker('setEndDate', correctedDate);
                } else {
                    var correctedDate = new Date();
                    $('#datetimepickerfrom').datetimepicker('setStartDate', correctedDate);
                    $('#datetimepickerfrom').datetimepicker('setEndDate', Infinity);
            }
        });
    });

    /**
    * Test when the document has changed whether the reserve button ought to be
    * enabled.
    */
    $(document).on("change", function(evt) {
        enableReserve();
    });
    </script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-datetimepicker.css"))">
}
@app("Reservatiedetails", stylesheets, scripts) {
<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reserveren</a></li>
        <li class="active">Reservatiedetails</li>
    </ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reservatiedetails</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Geselecteerde auto
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="well">
                                <p>
                                    <strong>Eigenaar:</strong> @car.getOwner<br>
                                    <strong>Merk:</strong> @car.getBrand<br>
                                    <strong>Capaciteit:</strong> @car.getSeats<br>
                                    <strong>Standplaats:</strong> @car.getLocation
                                </p>
                                <p>
                                    @* TODO: add map using OpenLayers & OpenStreetMap (webjars) *@
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                        <div class="well">
                                Map placeholder
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Reservatiedetails
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @helper.form(routes.Reserve.confirmReservation(car.getId), 'class -> "form-horizontal") {
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger alert-dismissable">
                                <strong>Error!</strong> @form.globalError.message
                            </div>
                        }
                        <fieldset>
                                <div class="form-group">
                                    <label for="from">Van</label>
                                    <div id="datetimepickerfrom" class="input-group date form_datetime col-md-5" data-date-format="dd MM yyyy - HH:ii p" data-link-field="from">
                                        <input id="input_from" class="form-control" size="16" type="text" value="@form("from").value" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <input type="text" class="hidden" id="from" name="from" value="@form("from").value" />
                                </div>
                                <div class="form-group">
                                    <label for="datetimepickeruntil">Tot</label>
                                    <div id="datetimepickeruntil" class="input-group date form_datetime col-md-5" data-date-format="dd MM yyyy - HH:ii p" data-link-field="until">
                                        <input id="input_until" class="form-control" size="16" type="text" value="@form("until").value" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <input type="text" class="hidden" id="until" name="until" value="@form("until").value" />
                                </div>
                                <div class="form-group">
                                    <button  id="reserve_button" name="reserve" type="submit" class="btn btn-success">Reserveren</button>
                                </div>
                        </fieldset>
                    }
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}